.simplesubmit-navbar {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.navbar-text-link {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

.navbar-text-link:hover {
    color: white;
    text-decoration: underline;
}
